DATABASE_URL=postgresql://postgres:postgres@localhost:5432/finance_db
API_TOKEN=your-api-token
JWT_ACCESS_SECRET=your-jwt-access-secret
JWT_EXPIRATION=10m
JWT_REFRESH_SECRET=your-jwt-refresh-secret
JWT_REFRESH_EXPIRATION=10H
PORT=3000

REDIS_HOST=localhost
REDIS_PORT=6379
